.searchbar-1,
.searchbar-2{
    display: block;
    margin-top: 7px;
    padding-right: 0.15px;
}

.parag-1{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.photo-1{
    width: 100px;
    margin-bottom: 5px;
    display: block;
    margin-left: 100px;
}

.searchbar-3{
    width: 250px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 15px;
    box-shadow:0px 10px 10px rgba(0,0,0,0.10);
    margin-left: 10px;
    margin-top: 10px;
}

.searchbar-4,
.searchbar-5{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    margin-bottom: 12px;
    width: 148px;
}

.searchbar-6{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: block;
    width: 335px;
    margin-left: 305px;
}

.button-3{
    background-color: rgb(58, 116, 232);
    color: white;
    border: none;
    border-radius: 8px;
    width: 370px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 305px;
}
