.model-3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
    text-align: center;
}
.order_online{
    font-family:  Montserrat; 
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
}

